In [40]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [27]:
over_unders = pd.read_csv('historical_over_under_data.csv')
stats = pd.read_csv('team_stats_00_22.csv')

In [28]:
print(over_unders.shape)
over_unders.head()

(578, 4)

               Team  win_total  actual_wins result
0  Atlanta Hawks_00       46.5           28      U
1  Atlanta Hawks_02       36.5           33      U
2  Atlanta Hawks_03       41.5           35      U
3  Atlanta Hawks_04       33.0           28      U
4  Atlanta Hawks_05       27.5           13      U

In [29]:
print(stats.shape)
stats.head()

(595, 24)

,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TOV%,opp_DRB%,opp_FT/FGA
0,Utah Jazz_20,28.5,52.0,20.0,55,17,9.25,-0.29,8.97,117.6,...,0.488,0.597,0.563,12.7,24.5,0.195,0.507,10.3,79.3,0.159
1,Los Angeles Clippers_20,28.8,47.0,25.0,49,23,6.18,-0.16,6.02,117.6,...,0.400,0.599,0.564,12.2,22.7,0.186,0.531,11.9,79.1,0.186
2,Phoenix Suns_20,26.6,51.0,21.0,49,23,5.82,-0.15,5.67,117.2,...,0.392,0.597,0.564,11.5,20.8,0.177,0.534,12.4,78.5,0.194
3,Milwaukee Bucks_20,28.1,46.0,26.0,48,24,5.89,-0.32,5.57,117.2,...,0.404,0.593,0.566,12.0,23.3,0.177,0.536,11.5,79.7,0.157
4,Philadelphia 76ers_20,27.1,49.0,23.0,48,24,5.58,-0.31,5.28,113.2,...,0.347,0.579,0.541,12.8,23.2,0.225,0.521,13.8,78.2,0.200

In [30]:
o_u_teams = over_unders['Team'].map(lambda x: x[:-3])
o_u_teams.value_counts()

Atlanta Hawks             20
Boston Celtics            20
Utah Jazz                 20
Toronto Raptors           20
San Antonio Spurs         20
Sacramento Kings          20
Portland Trail Blazers    20
Phoenix Suns              20
Philadelphia 76ers        20
Orlando Magic             20
Oklahoma City Thunder     20
New York Knicks           20
Minnesota Timberwolves    20
Milwaukee Bucks           20
Miami Heat                20
Memphis Grizzlies         20
Los Angeles Lakers        20
Los Angeles Clippers      20
Indiana Pacers            20
Houston Rockets           20
Golden State Warriors     20
Detroit Pistons           20
Denver Nuggets            20
Dallas Mavericks          20
Cleveland Cavaliers       20
Chicago Bulls             20
Brooklyn Nets             20
New Orleans Pelicans      18
Charlotte Hornets         18
Washington Wizards         2
Name: Team, dtype: int64

In [31]:
stats_teams = stats['Team'].map(lambda x: x[:-3])
stats_teams.value_counts()

Utah Jazz                           20
Miami Heat                          20
Orlando Magic                       20
Cleveland Cavaliers                 20
Houston Rockets                     20
Minnesota Timberwolves              20
Detroit Pistons                     20
Sacramento Kings                    20
Washington Wizards                  20
San Antonio Spurs                   20
Chicago Bulls                       20
Los Angeles Clippers                20
Indiana Pacers                      20
Toronto Raptors                     20
Denver Nuggets                      20
Golden State Warriors               20
Boston Celtics                      20
Phoenix Suns                        20
Portland Trail Blazers              20
Atlanta Hawks                       20
New York Knicks                     20
Dallas Mavericks                    20
Milwaukee Bucks                     20
Los Angeles Lakers                  20
Philadelphia 76ers                  20
Memphis Grizzlies                   18
Oklahoma City Thunder               17
Charlotte Hornets                   16
Brooklyn Nets                       14
New Orleans Hornets                  8
New Orleans Pelicans                 7
New Jersey Nets                      6
Seattle SuperSonics                  3
Charlotte Bobcats                    2
New OrleansOklahoma City Hornets     2
Vancouver Grizzlies                  2
Name: Team, dtype: int64

In [32]:
df = pd.merge(over_unders, stats, on = 'Team')
df.shape

(442, 27)

In [33]:
# binarize our target column, 'result'
df['result'] = df['result'].map({'O': 1, 'U': 0})
df.head()

,Team,win_total,actual_wins,result,Age,W,L,PW,PL,MOV,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TOV%,opp_DRB%,opp_FT/FGA
0,Atlanta Hawks_00,46.5,28,0.0,26.1,25.0,57.0,26,56,-5.21,...,0.140,0.500,0.456,15.5,28.9,0.206,0.472,13.8,70.8,0.249
1,Atlanta Hawks_02,36.5,33,0.0,27.2,35.0,47.0,31,51,-3.56,...,0.177,0.527,0.476,15.7,27.9,0.248,0.469,12.1,70.4,0.222
2,Atlanta Hawks_03,41.5,35,0.0,26.2,28.0,54.0,28,54,-4.65,...,0.191,0.514,0.465,15.4,28.6,0.235,0.476,13.1,70.5,0.234
3,Atlanta Hawks_04,33.0,28,0.0,26.0,13.0,69.0,16,66,-9.71,...,0.146,0.504,0.464,14.9,30.7,0.212,0.513,14.0,72.1,0.289
4,Atlanta Hawks_05,27.5,13,0.0,22.7,26.0,56.0,28,54,-4.76,...,0.178,0.534,0.486,14.7,31.4,0.255,0.513,14.1,69.5,0.275

In [34]:
df.isnull().sum()

Team           0
win_total      0
actual_wins    0
result         1
Age            0
W              0
L              0
PW             0
PL             0
MOV            0
SOS            0
SRS            0
ORtg           0
DRtg           0
NRtg           0
Pace           0
FTr            0
3PAr           0
TS%            0
eFG%           0
TOV%           0
ORB%           0
FT/FGA         0
opp_eFG%       0
opp_TOV%       0
opp_DRB%       0
opp_FT/FGA     0
dtype: int64

In [35]:
df.shape

(442, 27)

In [36]:
df = df.dropna() # drop the one row with a NaN

In [46]:
# Set up X and Y
X = df.drop(columns = ['Team', 'result', 'actual_wins'])
y = df['result']

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 33)

In [48]:
pipe = make_pipeline(StandardScaler(), LogisticRegression())

In [49]:
pipe.fit(X_train, y_train)  # apply scaling on training data

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [50]:
pipe.score(X_test, y_test)

0.6576576576576577

In [51]:
df['result'].value_counts(normalize = True)

0.0    0.517007
1.0    0.482993
Name: result, dtype: float64